@charset: utf-8;

body {
  background-color:black;
  color:#eeeeee;  
}

footer {
  margin-bottom:200px;
  text-align:center;
}

footer ul li {
  width: 100px;
  display: inline-block;
}

nav {
  text-align:center;
}

nav ul li{
  width:100px;
  display: inline-block;
}



a {
  color:gray;
}

a:hover {
  color:white;
}