@charset: utf-8;

body {
  background-color:black;
  color:#eeeeee;  
}

.container {
  width:650px;
  margin:0 auto;
}

.title {
  text-align:center;
  padding-left:60px;
  margin-bottom:120px;
}

.vedio {
  text-align:center;
}
section {
  margin-bottom:60px;
}

footer {
  margin-bottom:200px;
  text-align:center;
}

footer ul li {
  width: 100px;
  display: inline-block;
}

nav {
  width:100;
  text-align:center;
}

nav ul li{
  width:100px;
  display: inline-block;
}

.section-title {
  margin-bottom: 100px;
}

a {
  color:gray;
}

a:hover {
  color:white;
}